.bg-orange {
  background-color: $orange;
}

.btn-round {
  border-radius: 50px;
}

.btn-outline-white {
  border: 2px solid $white;
  color: $white;
  font-weight: $font-weight-medium;
  font-size: $font-size-lg;
  background-color: transparent;
  &:hover {
    color: $white;
  }
}

.btn {
  white-space: nowrap;
}